{{  include('header.html.twig', {} ) }}

<h2>{{product['name']}}</h2>
<p>Prix: {{product['price']}}</p>
<p>Reference: {{product['ref']}}</p>
<p>{{product['desc']}}</p>

{{  include('footer.html.twig', {} ) }}